<section id="art-bat">
  <div class="container">
    <div class="section-title-container">
      <h1 class="section-title">Artistas Batizados</h1>
    </div>
    <div class="genders-list">
      {% for genero in site.data.bat %}
      <div class="genders-list-cell genders-container">
        <a href="musicos/#{{ genero.name | slugify }}">
        <div class="gender-img">
          {% image user.png class:gender-pic %}
        </div>
        <span class="gender-name">{{ genero.name }}</span>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>