<section id="home">
	<div class="container">
    
	    <div class="section-title-container">
	      <h1 class="section-title">OnStage</h1>
	    </div>

	    <div class="home-container">
		    <div class="col-sm-6">
		    	<div class="col-sm-offset-3">
			    	<a href="genders">
			    		<button class="btn btn-home">Procuro Musicos</button>
			    	</a>
		    	</div>
		    </div>
		    <div class="col-sm-6">
		    	<div class="col-sm-offset-3">
			    	<a href="artists">
			    		<button class="btn btn-home">Sou Musico</button>
			    	</a>
		    	</div>
		    </div>
		</div>    
	</div>
</section>