<section id="about">
  <div class="container">
    <div class="section-title-container">
      <h1 class="section-title">ABOUT</h1>
    </div>
    <div class="flex-wrapper">
      <div class="col-sm-3 hidden-xs">
      	{% image favicon.ico %}
      </div>
      <div class="col-sm-9">
	        <div class="about-container col-md-offset-2 col-md-8">
	           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec tincidunt dolor. Pellentesque blandit nibh in accumsan placerat. Praesent nec tellus a enim rutrum placerat in id urna. Maecenas tincidunt leo vitae sodales iaculis. Proin nec mauris sed leo imperdiet auctor eu ut neque. Mauris quis rhoncus risus, eget sodales est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
	           </br></br>
			Aliquam eros velit, viverra ut vulputate egestas, lobortis maximus ante. Praesent sit amet pulvinar neque, quis faucibus dolor. In hac habitasse platea dictumst. Pellentesque nisi urna, consequat blandit tellus at, ultrices placerat erat. Vestibulum rhoncus nec nulla ac posuere. Praesent ultricies molestie turpis sed blandit. Integer sit amet euismod ligula. Suspendisse eget augue odio. 
        </div>
      </div>
    </div>
  </div>
</section>
