<section id="about">
  <div class="container">
    <div class="about-container col-md-7">
      <div class="section-title-container">
        <h1 class="section-title">O que é a OnStage</h1>
      </div>
      <div class="col-sm-offset-2">
        <h4>
          A OnStage foi criada com o intuito de ligar os musicos aos palcos da forma mais simples possivel, estamos a procura do talento escondido em cada um de vós, de tudo o que vocês tem para oferecer!
          </br>
          Lebram se de todos os ensaios que tiveram na garagem a preparar um concerto que pensaram nunca acontecer?
          </br></br>
          Pois, pensem de novo!!
        </h4>
      </div>
    <div class="butContainer col-xs-12">
      <button class="aboutBut"><h4>Sabe Mais</h4></button>
    </div>
    </div>
    <div class="col-md-offset-1 col-md-4">
      {% image background/party2.jpg class:'aboutPic' %}
    </div>
  </div>
</section>
