<section id="groups">
	<div class="container">
    
	    <div class="section-title-container">
	      <h1 class="section-title">Entra em contacto Conosco</h1>
	    </div>

	    <div class="home-container">
		    <div class="col-sm-4">
		    	<div class="col-sm-offset-2">
			    	<a href="form_single">
			    		<button class="btn btn-home">Solo</button>
			    	</a>
		    	</div>
		    </div>
		    <div class="col-sm-4">
		    	<div class="col-sm-offset-2">
			    	<a href="form_dueto">
			    		<button class="btn btn-home">Dueto</button>
			    	</a>
		    	</div>
		    </div>
		    <div class="col-sm-4">
		    	<div class="col-sm-offset-2">
			    	<a href="form_band">
			    		<button class="btn btn-home">Banda</button>
			    	</a>
		    	</div>
		    </div>
		</div>    
	</div>
</section>