<section id="genders" controller="speakerCtrl">
  <div class="container">
    <div class="section-title-container">
      <h1 class="section-title">Musicos</h1>
    </div>
      {% for genero in site.data.generos %}
        <section id="{{ gender.name | slugify }}">
        <div class="genders-list">
        <div class="section-title-container col-md-12">
          <h1 class="section-title">{{ genero.name }}</h1>
        </div>
          {% for musico in site.data.musicos %}
            {% if musico.gender==genero.name %}
              <div class="genders-list-cell genders-container">
              
                <div class="gender-img">
                  {% image favicon.ico class:gender-pic %}
                </div>
                  <span class="gender-name">{{ musico.name }}</span>
              
              </div>
            {% endif %}
          {% endfor %}
        </section>
      {% endfor %}
    </div>
  </div>
</section>
