<section id="form">
  <div class="container">
    <div class="section-title-container">
      <h1 class="section-title">Contacta-nos</h1>
    </div>
    <div class="col-md-8 col-md-offset-2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec tincidunt dolor. Pellentesque blandit nibh in accumsan placerat. Praesent nec tellus a enim rutrum placerat in id urna. Maecenas tincidunt leo vitae sodales iaculis. Proin nec mauris sed leo imperdiet auctor eu ut neque. Mauris quis rhoncus risus, eget sodales est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      </br></br>
      <ul>
        <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec tincidunt dolor.</li>
        <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec tincidunt dolor.</li>
        <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec tincidunt dolor.</li>
        <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec tincidunt dolor.</li>
        <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec tincidunt dolor.</li>
      </ul>
      </br>
    </div>
    <div class="flex-wrapper">
      <div class="col-sm-9">
          <div class="about-container col-md-offset-1 col-md-8">
          <form method="POST" action="http://formspree.io/2k9andre@gmail.com">
              <div class="col-md-6">
                <input name="email" placeholder="Nome" type="email" class="col-md-12 form-email">
                <input name="email" placeholder="Email" type="email" class="col-md-12 form-email">
                <input name="email" placeholder="Contacto" type="email" class="col-md-12 form-email">
              </div>
              <div class="col-md-12">
                <textarea name="message" placeholder="Mensagem" class="col-md-12 form-text"></textarea>
              </div>
              <div class="col-md-12">
                <div class=" col-md-4 accept">
                  <input type="radio" name="vehicle" value="accept" class="col-md-6" > Aceito<br>
                </div>
                <div class="col-md-4">
                  <button type="modal" class=" btn btn-termos">Termos e condições</button>
                </div>
                <div class="col-md-4">
                  <button type="submit" class=" btn btn-submit">Enviar</button>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
